.seat-page {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.seat-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.seat {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.available {
  background-color: green;
  color: white;
}

.taken {
  background-color: red;
  color: white;
  cursor: not-allowed;
}

.selected {
  background-color: blue;
  color: white;
}

.seat-info {
  margin-top: 20px;
  font-size: 18px;
}
